# Cleaning the credit data

The code in the cell below was utilized from Activity 4 of Day 1 of Big Data week from our instructor demo

In [ ]:
import os
# Find the latest version of spark 3.x  from https://downloads.apache.org/spark/ and enter as the spark version
spark_version = 'spark-3.5.5'
os.environ['SPARK_VERSION']=spark_version
# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark
# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"
# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:11 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,763 kB]
Get:12 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,692 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,237 kB]
Get:14 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,678 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,535 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [3,962 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,003 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-backports/main amd64 Packages [112 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [38.5 kB]
Fetched 24.4 MB in 9s (2,802 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
# Start Spark session
from pyspark.sql import SparkSession
from pyspark import SparkFiles

The code in the cell below was utilized from Activity 4 of Day 1 of Big Data week from our instructor demo

In [ ]:
# Start Spark session
spark = SparkSession.builder.appName("DataFrame Basics").getOrCreate()

The code in the cell below was utilized from Activity 4 of Day 1 of Big Data week from our instructor demo

In [ ]:
# Read in data from our git repo
credit_url = 'https://raw.githubusercontent.com/cindyd97/Project_4_Group_4/main/Resources/Credit_data.csv'
spark.sparkContext.addFile(credit_url)
credit_df = spark.read.csv(SparkFiles.get("Credit_data.csv"), sep=",", header=True)

# Show DataFrame
credit_df.show()

+------+-----------+---------+---------------+---+-----------+------------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+
|    ID|Customer_ID|    Month|           Name|Age|        SSN|  Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|  Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|   Monthly_Balance|
+------+-----------+---------+---------------+---+-----------+------------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+
|0x160a|  CUS_0xd40|September|  Aaron Maashoh| 23|821-00-0265|   Scientist|     19114.12|   1824.8433333333328|                3|              4|            3|          4|Auto Loan, Credit...|                  3|                     7|               11.27|              2022.0|      Good|          809.98|       35.03040185583525|22 Years and 9 Mo...|                   No|  49.57494921489417|     236.64268203272135|Low_spent_Small_v...|186.26670208571772|
|0x160b|  CUS_0xd40|  October|  Aaron Maashoh| 24|821-00-0265|   Scientist|     19114.12|   1824.8433333333328|                3|              4|            3|          4|Auto Loan, Credit...|                  3|                     9|               13.27|                 4.0|      Good|          809.98|      33.053114497012245|22 Years and 10 M...|                   No|  49.57494921489417|     21.465380264657146|High_spent_Medium...|361.44400385378196|
|0x160c|  CUS_0xd40| November|  Aaron Maashoh| 24|821-00-0265|   Scientist|     19114.12|   1824.8433333333328|                3|              4|            3|          4|Auto Loan, Credit...|                 -1|                     4|               12.27|                 4.0|      Good|          809.98|      33.811894118574465|                  NA|                   No|  49.57494921489417|     148.23393788500925|Low_spent_Medium_...|264.67544623342997|
|0x160d|  CUS_0xd40| December|  Aaron Maashoh|24_|821-00-0265|   Scientist|     19114.12|                 NULL|                3|              4|            3|          4|Auto Loan, Credit...|                  4|                     5|               11.27|                 4.0|      Good|          809.98|      32.430559017296765|23 Years and 0 Mo...|                   No|  49.57494921489417|      39.08251089460281|High_spent_Medium...|343.82687322383634|
|0x1616| CUS_0x21b1|September|Rick Rothackerj| 28|004-07-5839|     _______|     34847.84|    3037.986666666666|                2|              4|            6|          1| Credit-Builder Loan|                  3|                     1|                5.42|                 5.0|      Good|          605.03|       25.92682170377555|27 Years and 3 Mo...|                   No| 18.816214573128885|     39.684018417945296|High_spent_Large_...| 485.2984336755923|
|0x1617| CUS_0x21b1|  October|Rick Rothackerj| 28|  #F%$D@*&8|     Teacher|     34847.84|    3037.986666666666|                2|              4|            6|          1| Credit-Builder Loan|                  3|                     3|                5.42|                 5.0|      Good|          605.03|      30.116600450025015|27 Years and 4 Mo...|                   No| 18.816214573128885|     251.62736875017606|Low_spent_Large_v...| 303.3550833433617|
|0x1618| CUS_0x21b1| November|Rick Rothackerj| 28|004-07-5839|     Teacher|     34847.84|    3037.986666666666|                2|              4|            6|          1| Credit-Builder Loan|                  3|                  NULL|                5.42|                 5.0|         _|          605.03|      30.996423739085607|27 Years and 5 Mo...|                   No| 18.816214573128885|      72.68014533363515|High_spent_Large_...|452.30230675990265|
|0x1619| CUS_0x21b1| December|Rick Rothackerj| 28|004-07-5839|     Teacher|     34847.84|    3037.986666666666|                2|              4|            6|          1| Credit-Builder Loan|                  3|                    2_|                7.42|                 5.0|         _|          605.03|      33.875167221549795|27 Years and 6 Mo...|                   No| 18.816214573128885|     153.53448761392985|              !@9#%8|421.44796447960783|
|0x1622| CUS_0x2dbc|September|         Langep| 35|486-85-3974|    Engineer|    143162.64|                 NULL|                1|              5|            8|          3|Auto Loan, Auto L...|                  8|                  1942|                 7.1|                 3.0|      Good|         1303.01|       35.22970733005963|18 Years and 5 Mo...|                   No|  246.9923194537421|     397.50365354404653|Low_spent_Medium_...| 854.2260270022115|
|0x1623| CUS_0x2dbc|  October|         Langep| 35|486-85-3974|    Engineer|    143162.64|             12187.22|                1|              5|            8|          3|Auto Loan, Auto L...|                  6|                     3|                 2.1|                 3.0|      Good|         1303.01|       35.68583594909283|18 Years and 6 Mo...|                   No|  246.9923194537421|      453.6151305781054|Low_spent_Large_v...| 788.1145499681528|
|0x1624| CUS_0x2dbc| November|           NULL| 35|486-85-3974|    Engineer|    143162.64|             12187.22|                1|              5|            8|       1381|Auto Loan, Auto L...|                  8|                     5|                 7.1|                 5.0|      Good|        1303.01_|      31.819845432258052|18 Years and 7 Mo...|                   No|  246.9923194537421|      841.2322359154716|Low_spent_Medium_...| 410.4974446307865|
|0x1625| CUS_0x2dbc| December|         Langep| 35|486-85-3974|    Engineer|    143162.64|             12187.22|                1|              5|            8|          3|Auto Loan, Auto L...|                  8|                     6|                 7.1|                 5.0|      Good|         1303.01|      33.707168865856374|                  NA|                   No|  246.9923194537421|     506.30777972175247|High_spent_Medium...| 715.4219008245058|
|0x162e| CUS_0xb891|September|         Jasond| 55|072-31-6145|Entrepreneur|     30689.89|   2612.4908333333333|                2|              5|            4|          1|       Not Specified|                  5|                     6|                1.99|                 4.0|      Good|          632.46|       39.37721939916439|17 Years and 11 M...|                   No| 16.415451659824875|      69.10700584725082|High_spent_Medium...| 425.7266258262577|
|0x162f| CUS_0xb891|  October|         Jasond| 55|072-31-6145|Entrepreneur|     30689.89|   2612.4908333333333|                2|              5|            4|       -100|       Not Specified|                  5|                     8|                1.99|                 4.0|         _|          632.46|      36.280475445344244|18 Years and 0 Mo...|                   No| 16.415451659824875|     29.393311428984493|High_spent_Large_...|  455.440320244524|
|0x1630| CUS_0xb891| November|         Jasond| 55|072-31-6145|Entrepreneur|     30689.89|   2612.4908333333333|                2|              5|            4|          1|       Not Specified|                  5|                     6|                1.99|                 4.0|      Good|          632.46|      36.824467822186854|18 Years and 1 Mo...|                   No| 16.415451659824875|     191.88624358002707|Low_spent_Medium_...| 332.9473880934814|
|0x1631| CUS_0xb891| December|         Jasond| 55|072-31-6145|Entrepreneur|    4148862.0|   2612.4908333333333|                2|              5|            4|          1|       Not Specified|                  6|                     6|                1.99|                 7.0|      Good|          632.46|        35.5792649548332|18 Years and 2 Mo...|                   No| 16.415451659824875|     233.93341714114612|Low_spent_Small_v...|300.90021453236227|
|0x163a| CUS_0x1cdb|September|         Deepaa| 22|615-06-7821|   Developer|     35547.71|   2853.3091666666664|                7|              5|            5|          0|                NULL|                  5|                    15|                2.58|                 4.0|         _|          943.86|       34.72984235509026|31 Years and 4 Mo...|                  Yes|                0.0|      59.36605764456292|High_spent_Medium...|475.96485902210367|
|0x163b| CUS_0x1cdb|  October|         Deepaa| 22|  #F%$D@*&8|   Developer|     35547.71|   2853.3091666666664|                7|              5|            5|          0|                NULL|                  5|                    18|                2.58|                 5.0|  Standard|          943.86|       31.65235104376109|31 Years and 5 Mo...|                  Yes|                0.0|     113.45265630966415|High_spent_Medium...| 421.8782603570025|
|0x163c| CUS_0x1cdb| November|         Deepaa| 22|615-06-7821|   Developer|     35547.71|   2853.3091666666664|                7|              5|            5|       -100|                NULL|                  5|                    15|                2.58|                 5.0|  Standard|          943.86|       36.42483452800961|                  NA|                  Yes|                0.0|      46.56457517290926|High_spent_Medium...| 488.7663414937574|
|0x163d| CUS_0x1cdb| December|         Deepaa| 22|615-06-7821|   Developer|     35547.71|   2853.3091666666664|                7|              5|            5|          0|                NULL|                  5|                    18|                2.58|                 5.0|  Standard|          943.86|       29.56612273444377|31 Years and 7 Mo...|                  Yes|                0.0|      181.0072171318061|Low_spent_Small_v...| 394.3236995348605|
+------+-----------+---------+---------------+---+-----------+------------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+
only showing top 20 rows

The code in the cell below was utilized from Activity 4 of Day 1 of Big Data week from our instructor demo

In [ ]:
# Convert spark dataframe to a pandas dataframe for cleaning purposes
credit_df = credit_df.toPandas()

In [ ]:
# Display the first 5 rows of data
credit_df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8433333333328,3,...,2022.0,Good,809.98,35.03040185583525,22 Years and 9 Months,No,49.57494921489417,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,3,...,4.0,Good,809.98,33.053114497012245,22 Years and 10 Months,No,49.57494921489417,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.8433333333328,3,...,4.0,Good,809.98,33.811894118574465,NA,No,49.57494921489417,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,None,3,...,4.0,Good,809.98,32.430559017296765,23 Years and 0 Months,No,49.57494921489417,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986666666666,2,...,5.0,Good,605.03,25.92682170377555,27 Years and 3 Months,No,18.816214573128885,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [ ]:
# Check the data types for each column
credit_df.dtypes

ID                          object
Customer_ID                 object
Month                       object
Name                        object
Age                         object
SSN                         object
Occupation                  object
Annual_Income               object
Monthly_Inhand_Salary       object
Num_Bank_Accounts           object
Num_Credit_Card             object
Interest_Rate               object
Num_of_Loan                 object
Type_of_Loan                object
Delay_from_due_date         object
Num_of_Delayed_Payment      object
Changed_Credit_Limit        object
Num_Credit_Inquiries        object
Credit_Mix                  object
Outstanding_Debt            object
Credit_Utilization_Ratio    object
Credit_History_Age          object
Payment_of_Min_Amount       object
Total_EMI_per_month         object
Amount_invested_monthly     object
Payment_Behaviour           object
Monthly_Balance             object
dtype: object

In [ ]:
# Check the null values in the data set
credit_df.isnull().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                        5015
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary       7498
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                5704
Delay_from_due_date            0
Num_of_Delayed_Payment      3498
Changed_Credit_Limit           0
Num_Credit_Inquiries        1035
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age             0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

In [ ]:
# Drop unnecessary columns (columns that are not needed for our features)
credit_df = credit_df.drop(['ID','Customer_ID','Name','SSN','Type_of_Loan'], axis=1)

In [ ]:
# Convert columns that are meant to be numeric to an integer
columns_to_convert = ['Age','Annual_Income','Num_of_Loan','Num_of_Delayed_Payment','Changed_Credit_Limit','Num_Credit_Inquiries','Outstanding_Debt',
                      'Total_EMI_per_month','Amount_invested_monthly','Monthly_Balance','Monthly_Inhand_Salary','Num_Bank_Accounts','Num_Credit_Card','Interest_Rate',
                      'Delay_from_due_date','Credit_Utilization_Ratio']
credit_df[columns_to_convert] = credit_df[columns_to_convert].apply(pd.to_numeric, errors='coerce').astype('float64')

In [ ]:
# Check the data types for each column
credit_df.dtypes

Month                        object
Age                         float64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts           float64
Num_Credit_Card             float64
Interest_Rate               float64
Num_of_Loan                 float64
Delay_from_due_date         float64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
dtype: object

In [ ]:
# Check the unique values for each column in the dataframe (the group found random characters in the 'Payment_Behaviour' column)
credit_df['Payment_Behaviour'].value_counts()

Payment_Behaviour
Low_spent_Small_value_payments      12694
High_spent_Medium_value_payments     8922
High_spent_Large_value_payments      6844
Low_spent_Medium_value_payments      6837
High_spent_Small_value_payments      5651
Low_spent_Large_value_payments       5252
!@9#%8                               3800
Name: count, dtype: int64

The code in the cell below was utilized from chatgpt

In [ ]:
# Remove random values in the 'Payment_Behaviour' column
credit_df = credit_df[~credit_df['Payment_Behaviour'].astype(str).str.contains(r'\!@9#%8', na=False)]

In [ ]:
# Check if the rows with random values have been removed from the dataframe for the 'Payment_Behaviour' column
credit_df['Payment_Behaviour'].value_counts()

Payment_Behaviour
Low_spent_Small_value_payments      12694
High_spent_Medium_value_payments     8922
High_spent_Large_value_payments      6844
Low_spent_Medium_value_payments      6837
High_spent_Small_value_payments      5651
Low_spent_Large_value_payments       5252
Name: count, dtype: int64

In [ ]:
# Check the unique values for each column in the dataframe (the group found rows with NA in the 'Credit_History_Age' column)
credit_df['Credit_History_Age'].value_counts()

Credit_History_Age
NA                        4103
16 Years and 6 Months      240
16 Years and 1 Months      237
18 Years and 7 Months      235
20 Years and 1 Months      235
                          ...
4 Years and 5 Months        19
0 Years and 11 Months       16
33 Years and 11 Months      14
34 Years and 0 Months       13
0 Years and 10 Months        9
Name: count, Length: 400, dtype: int64

The code in the cell below was utilized from chatgpt

In [ ]:
# Remove NA values in the 'Credit_History_Age' column
credit_df = credit_df[~credit_df['Credit_History_Age'].astype(str).str.contains(r'NA', na=False)]

In [ ]:
# check if the NA rows have been removed for the data frame for 'Credit_History_Age' column
credit_df['Credit_History_Age'].value_counts()

Credit_History_Age
16 Years and 6 Months     240
16 Years and 1 Months     237
18 Years and 7 Months     235
20 Years and 1 Months     235
19 Years and 7 Months     231
                         ...
4 Years and 5 Months       19
0 Years and 11 Months      16
33 Years and 11 Months     14
34 Years and 0 Months      13
0 Years and 10 Months       9
Name: count, Length: 399, dtype: int64

The code in the cell below was utilized from chatgpt

In [ ]:
# Create a function that would convert the strings in 'Credit_History_Age' column to a float. (This column is a string that describes the amount of years and months
# the customer's credit age is)
def convert_to_float(years_months):
    if pd.isna(years_months):
        return 0.0
    parts = years_months.split()
    years = int(parts[0])
    months = int(parts[3])
    return round(years + (months / 12), 2)
# Apply function to convert
credit_df['Credit_History_Age'] = credit_df['Credit_History_Age'].apply(convert_to_float)

In [ ]:
# check if the 'Credit_History_Age' column was converted to a float for years and months
credit_df['Credit_History_Age'].value_counts()

Credit_History_Age
16.50    240
16.08    237
18.58    235
20.08    235
19.58    231
        ...
4.42      19
0.92      16
33.92     14
34.00     13
0.83       9
Name: count, Length: 399, dtype: int64

In [ ]:
# Check the null values in the data set
credit_df.isnull().sum()

Month                          0
Age                         2052
Occupation                     0
Annual_Income               2968
Monthly_Inhand_Salary       6328
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                 2045
Delay_from_due_date            0
Num_of_Delayed_Payment      4159
Changed_Credit_Limit         885
Num_Credit_Inquiries         866
Credit_Mix                     0
Outstanding_Debt             414
Credit_Utilization_Ratio       0
Credit_History_Age             0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     3762
Payment_Behaviour              0
Monthly_Balance              486
dtype: int64

In [ ]:
# Logically, the null values in the 'Age' column should not be changed to 0. Remove the rows with null values in this column
credit_df = credit_df.dropna(subset=['Age'])

In [ ]:
# Check the null values in the data set
credit_df.isnull().sum()

Month                          0
Age                            0
Occupation                     0
Annual_Income               2822
Monthly_Inhand_Salary       6033
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                 1943
Delay_from_due_date            0
Num_of_Delayed_Payment      3948
Changed_Credit_Limit         837
Num_Credit_Inquiries         820
Credit_Mix                     0
Outstanding_Debt             398
Credit_Utilization_Ratio       0
Credit_History_Age             0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     3586
Payment_Behaviour              0
Monthly_Balance              457
dtype: int64

The code in the cell below was utilized from chatgpt

In [ ]:
# The remaining columns with null values may be updated with the number 0
columns_to_fill = ['Annual_Income', 'Monthly_Inhand_Salary', 'Num_of_Loan','Num_of_Delayed_Payment','Changed_Credit_Limit','Num_Credit_Inquiries','Outstanding_Debt',
                   'Amount_invested_monthly','Monthly_Balance']
credit_df[columns_to_fill] = credit_df[columns_to_fill].fillna(0)

In [ ]:
# Check the null values in the data set
credit_df.isnull().sum()

Month                       0
Age                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
dtype: int64

In [ ]:
# Check values in the 'Credit_Mix' column (label column)
credit_df['Credit_Mix'].value_counts()

Credit_Mix
Standard    14741
Good         9760
_            7884
Bad          7660
Name: count, dtype: int64

The code in the cell below was utilized from chatgpt

In [ ]:
# Remove null values in the 'Credit_Mix' column (label column)
credit_df = credit_df[~credit_df['Credit_Mix'].astype(str).str.contains(r'\_', na=False)]

The code in the cell below was utilized from Xpert learning asssistant

In [ ]:
# Assign each value with an integer
credit_df['Credit_Mix'] = credit_df['Credit_Mix'].replace({'Standard': 0, 'Good': 1, 'Bad': 2}).astype(int)

<ipython-input-27-4920fe07fc10>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  credit_df['Credit_Mix'] = credit_df['Credit_Mix'].replace({'Standard': 0, 'Good': 1, 'Bad': 2}).astype(int)

In [ ]:
# Check values in the 'Credit_Mix' column (label column)
credit_df['Credit_Mix'].value_counts()

Credit_Mix
0    14741
1     9760
2     7660
Name: count, dtype: int64

In [ ]:
# Download the cleaned data set
credit_df.to_csv('clean_credit_data.csv', index=False)
from google.colab import files
files.download("clean_credit_data.csv")

# Cleaning the loan data

The code in the cell below was utilized from Activity 4 of Day 1 of Big Data week from our instructor demo

In [ ]:
# Read in data from our git repo
loan_url = 'https://raw.githubusercontent.com/cindyd97/Project_4_Group_4/main/Resources/Loan_default.csv'
spark.sparkContext.addFile(loan_url)
loan_df = spark.read.csv(SparkFiles.get("Loan_default.csv"), sep=",", header=True)

# Show DataFrame
loan_df.show()

+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|    LoanID|Age|Income|LoanAmount|CreditScore|MonthsEmployed|NumCreditLines|InterestRate|LoanTerm|DTIRatio|  Education|EmploymentType|MaritalStatus|HasMortgage|HasDependents|LoanPurpose|HasCoSigner|Default|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
|I38PQUQS96| 56| 85994|     50587|        520|            80|             4|       15.23|      36|    0.44| Bachelor's|     Full-time|     Divorced|        Yes|          Yes|      Other|        Yes|      0|
|HPSK72WA7R| 69| 50432|    124440|        458|            15|             1|        4.81|      60|    0.68|   Master's|     Full-time|      Married|         No|           No|      Other|        Yes|      0|
|C1OZ6DPJ8Y| 46| 84208|    129188|        451|            26|             3|       21.17|      24|    0.31|   Master's|    Unemployed|     Divorced|        Yes|          Yes|       Auto|         No|      1|
|V2KKSFM3UN| 32| 31713|     44799|        743|             0|             3|        7.07|      24|    0.23|High School|     Full-time|      Married|         No|           No|   Business|         No|      0|
|EY08JDHTZP| 60| 20437|      9139|        633|             8|             4|        6.51|      48|    0.73| Bachelor's|    Unemployed|     Divorced|         No|          Yes|       Auto|         No|      0|
|A9S62RQ7US| 25| 90298|     90448|        720|            18|             2|       22.72|      24|     0.1|High School|    Unemployed|       Single|        Yes|           No|   Business|        Yes|      1|
|H8GXPAOS71| 38|111188|    177025|        429|            80|             1|       19.11|      12|    0.16| Bachelor's|    Unemployed|       Single|        Yes|           No|       Home|        Yes|      0|
|0HGZQKJ36W| 56|126802|    155511|        531|            67|             4|        8.15|      60|    0.43|        PhD|     Full-time|      Married|         No|           No|       Home|        Yes|      0|
|1R0N3LGNRJ| 36| 42053|     92357|        827|            83|             1|       23.94|      48|     0.2| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1|
|CM9L1GTT2P| 40|132784|    228510|        480|           114|             4|        9.09|      48|    0.33|High School| Self-employed|      Married|        Yes|           No|      Other|        Yes|      0|
|IA35XVH6ZO| 28|140466|    163781|        652|            94|             2|        9.08|      48|    0.23|High School|    Unemployed|      Married|         No|           No|  Education|         No|      0|
|Y8UETC3LSG| 28|149227|    139759|        375|            56|             3|        5.84|      36|     0.8|        PhD|     Full-time|     Divorced|         No|           No|  Education|        Yes|      1|
|RM6QSRHIYP| 41| 23265|     63527|        829|            87|             4|        9.73|      60|    0.45|   Master's|     Full-time|     Divorced|        Yes|           No|       Auto|        Yes|      0|
|GX5YQOGROM| 53|117550|     95744|        395|           112|             4|        3.58|      24|    0.73|High School|    Unemployed|       Single|         No|           No|       Auto|        Yes|      0|
|X0BVPZLDC0| 57|139699|     88143|        635|           112|             4|        5.63|      48|     0.2|   Master's|     Part-time|     Divorced|         No|           No|       Home|         No|      0|
|O5DM5MPPNA| 41| 74064|    230883|        432|            31|             2|         5.0|      60|    0.89|   Master's|    Unemployed|      Married|        Yes|           No|       Auto|         No|      0|
|ZDDRGVTEXS| 20|119704|     25697|        313|            49|             1|        9.63|      24|    0.28|        PhD|    Unemployed|       Single|        Yes|           No|       Home|         No|      0|
|9V0FJW7QPB| 39| 33015|     10889|        811|           106|             2|       13.56|      60|    0.66|   Master's| Self-employed|       Single|        Yes|           No|      Other|         No|      0|
|O1IKKLC69B| 19| 40718|     78515|        319|           119|             2|        14.0|      24|    0.17| Bachelor's| Self-employed|     Divorced|        Yes|           No|  Education|         No|      1|
|F7487UU2BF| 41|123419|    161146|        376|            65|             4|       16.96|      60|    0.39|High School| Self-employed|       Single|        Yes|           No|      Other|        Yes|      0|
+----------+---+------+----------+-----------+--------------+--------------+------------+--------+--------+-----------+--------------+-------------+-----------+-------------+-----------+-----------+-------+
only showing top 20 rows

The code in the cell below was utilized from Activity 4 of Day 1 of Big Data week from our instructor demo

In [ ]:
# Convert spark dataframe to a pandas dataframe for cleaning purposes
loan_df = loan_df.toPandas()

In [ ]:
# display first 5 rows of the data frame
loan_df.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [ ]:
# Check the data types for each column
loan_df.dtypes

LoanID            object
Age               object
Income            object
LoanAmount        object
CreditScore       object
MonthsEmployed    object
NumCreditLines    object
InterestRate      object
LoanTerm          object
DTIRatio          object
Education         object
EmploymentType    object
MaritalStatus     object
HasMortgage       object
HasDependents     object
LoanPurpose       object
HasCoSigner       object
Default           object
dtype: object

In [ ]:
# Check the null values in the data set
loan_df.isnull().sum()

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [ ]:
# Degault column will be our labeled values. Default (1), not Default (0)
loan_df['Default'].value_counts()

Default
0    225694
1     29653
Name: count, dtype: int64

In [ ]:
# Check for duplicate values
duplicate_rows = loan_df[loan_df.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [LoanID, Age, Income, LoanAmount, CreditScore, MonthsEmployed, NumCreditLines, InterestRate, LoanTerm, DTIRatio, Education, EmploymentType, MaritalStatus, HasMortgage, HasDependents, LoanPurpose, HasCoSigner, Default]
Index: []

In [ ]:
# Drop unnecessary columns (columns that are not needed for our features)
loan_df = loan_df.drop(['LoanID'], axis=1)

In [ ]:
loan_df.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [ ]:
# Check the data types for each column
loan_df.dtypes

Age               object
Income            object
LoanAmount        object
CreditScore       object
MonthsEmployed    object
NumCreditLines    object
InterestRate      object
LoanTerm          object
DTIRatio          object
Education         object
EmploymentType    object
MaritalStatus     object
HasMortgage       object
HasDependents     object
LoanPurpose       object
HasCoSigner       object
Default           object
dtype: object

In [ ]:
# Convert columns that are meant to be numeric to an integer
columns_to_convert2 = ['Age','Income','LoanAmount','CreditScore','MonthsEmployed','NumCreditLines','InterestRate','LoanTerm','DTIRatio','Default']
loan_df[columns_to_convert2] = loan_df[columns_to_convert2].apply(pd.to_numeric, errors='coerce').astype('float64')

In [ ]:
# Check the data types for each column
loan_df.dtypes

Age               float64
Income            float64
LoanAmount        float64
CreditScore       float64
MonthsEmployed    float64
NumCreditLines    float64
InterestRate      float64
LoanTerm          float64
DTIRatio          float64
Education          object
EmploymentType     object
MaritalStatus      object
HasMortgage        object
HasDependents      object
LoanPurpose        object
HasCoSigner        object
Default           float64
dtype: object

In [ ]:
# Download the cleaned data set
loan_df.to_csv('clean_loan_data.csv', index=False)
from google.colab import files
files.download("clean_loan_data.csv")